@model IEnumerable<DestisteApp.Models.ReservationModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.dateTme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.operations)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmation)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.User_id)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.dateTme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.operationid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmation)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.User_id)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })|
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
