@model IEnumerable<DestisteApp.Models.OperationModel>

@{
    ViewData["Title"] = "Operation";
}

<h1>Operation</h1>

<p>
    <a >Operation Dr Mahmoud</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.id_op)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.id_op)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
